<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>

 <ion-card>
  <ion-card-header>
  <ion-card-title>Main Objective</ion-card-title>
    <ion-card-subtitle>Siemens Co-Gen Power Plant Data Analysis</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    The main objective of the project is to evaluate the data from 
      Siemens Co-Gen power plant and visualized the results. 
      <br/>
      In this case 
      the data is generated electricity and carbon dioxide over time. 
      <br/>
      We chose
       to display the results through this web application because it can be 
       viewed with any device and on any platform.
  </ion-card-content>
  
</ion-card> 
<ion-card>
  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label>Team Members</ion-label>
   
  </ion-item>

 
</ion-card>

<ion-card>
    <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Kayode</ion-label>
      </ion-item>
  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label>Sharon</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label>Shreya</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label>Tony</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label>Vithura</ion-label>
  </ion-item>
</ion-card>
  </ion-content>
  
</ion-content>
